{{#each content}}
<div class="result">
	<div class="image">
		<img data-id="{{@index}}" src="{{imgsrc}}">
	</div>
	<div class="details">
		<h2 class="title">{{title}}</h2>
		<p>By: {{author}}</p>
		<p>{{publishDate}}</p>
		<div class="description">
			<p>Description: {{description}}</p>
			<div>
				<b>Categories:</b>
				{{#each categories}}
					 -  {{this}}
				{{/each}}
			</div>
		</div>
	</div>
</div>
{{/each}}