<div class="meta_results">
    <div class="number_results">
        {{#if totalCount}}
            <p>Showing <span class="current_results">{{content.records.length}}</span> of {{totalCount}} results</p>
        {{else}}
            {{#if content.records.length}}
                <p>Showing all <span class="current_results">{{content.records.length}}</span> results</p>
            {{else}}
                <p>No results</p>
            {{/if}}
        {{/if}}
    </div>
    {{#if totalCount}}
        <div class="show_more" onclick="doTrack('click.button', '', 'load_more_top', 'pagination');">SHOW MORE</div>
    {{else}}
        <div class="show_more_disabled" onclick="doTrack('click.button', '', 'load_more_top_disabled', 'pagination');">SHOW MORE</div>
    {{/if}}
    <div class="sort_display">
        {{#if content.records.length}}
            <select name="sort" id='sort_select' class="sort_select" onchange="doTrack('click.sort', '', 'sort', this.value)">
        {{else}}
            <select disabled name="sort" id='sort_select' class="sort_select" onchange="doTrack('click.sort', '', 'sort', this.value)">
        {{/if}}
                <option onclick="doTrack('click.sort', '', 'sort', 'Relevance');" value="Relevance" sortvalue="-">Relevance</option>
                <option onclick="doTrack('click.sort', '', 'sort', 'Title A-Z');" value="Title A-Z" sortvalue="title-Ascending">Title A-Z</option>
                <option onclick="doTrack('click.sort', '', 'sort', 'By Lowest Price');" value="By Lowest Price" sortvalue="lowest_price-Ascending">By Lowest Price</option>
                <option onclick="doTrack('click.sort', '', 'sort', 'Oldest');" value="Oldest" sortvalue="pub_date-Ascending">Oldest</option>
                <option onclick="doTrack('click.sort', '', 'sort', 'Newest');" value="Newest" sortvalue="pub_date-Descending" >Newest</option>
                <option onclick="doTrack('click.sort', '', 'sort', 'Author A-Z');" value="Author A-Z" sortvalue="s_str_primary_author_last_first-Ascending">Author A-Z</option>
            </select>
    </div>
    {{#if content.correctedQuery}}
        <div class="corrected_query">
            <p>No results for: "{{content.originalQuery}}"</p>
            <p>Showing results for: <b>{{content.correctedQuery}}</b></p>
        </div> 
    {{/if}}
    <div class="breadcrumbs" onclick="doTrack('click.breadcrumb', '', 'breadcrumb', 'reset all or reset');">{{#if breadcrumbs}}{{{breadcrumbs}}}{{/if}}</div>
</div> 
<div class="advertisement_banner"></div>
<div class="results_content">
    {{#if content.relatedQueries}}
        <div class="related_query">
            {{#if_length_more_1 content.relatedQueries}}
                <p class="suggestion">Related search terms:</p>
                {{#each content.relatedQueries}} <a class="did_you_mean" href="/books/search-result.aspx?searchtext={{this}}">{{this}}</a> &nbsp;{{/each}}
            {{else}}
                <p class="suggestion">Related search term: {{#each content.relatedQueries}} <a class="did_you_mean" href="/books/search-result.aspx?searchtext={{this}}">{{this}}</a> {{/each}}</p>
            {{/if_length_more_1}} 
        </div>
    {{/if}}
    {{#if content.records.length}}
    	{{#each content.records}}
    		<div class="result">
                {{#if allMeta.variants.0.isbn_formatted}}
                    <a href="http://books.wwnorton.com/books/{{allMeta.variants.0.isbn_formatted}}">
                {{else}}
                    <a href="http://books.wwnorton.com/books/{{allMeta.s_str_isbn_formatted}}">
                {{/if}}
        			<div class="image" onclick="doTrack('click.result', '', 'book-image', '{{{_t}}}{{#if allMeta.sub_title}}+{{allMeta.sub_title}}{{/if}}.{{allMeta.s_str_isbn}}');">
        				{{#if allMeta.cover_image}}
        					<img data-id="{{@index}}" src="{{allMeta.cover_image}}">
        				{{else}}
        					<div class="no_cover"><p>No Image<br>Available</p></div>
        				{{/if}}
        			</div>
                </a>
    			<div class="details">
    				<div class="top">
                            <div class="title">
                                {{#if allMeta.variants.0.isbn_formatted}}
                                <a class="title_link" href="http://books.wwnorton.com/books/{{allMeta.variants.0.isbn_formatted}}" onclick="doTrack('click.result', '', 'book-title', '{{{_t}}}{{#if allMeta.sub_title}}+{{allMeta.sub_title}}{{/if}}.{{allMeta.s_str_isbn}}');">
                                {{else}}
                                <a class="title_link" href="http://books.wwnorton.com/books/{{allMeta.s_str_isbn_formatted}}" onclick="doTrack('click.result', '', 'book-title', '{{{_t}}}{{#if allMeta.sub_title}}+{{allMeta.sub_title}}{{/if}}.{{allMeta.s_str_isbn}}');">
                                {{/if}}

            						<h2 class="title_text">{{{ _t}}}{{#if allMeta.sub_title}}: {{{allMeta.sub_title}}}{{/if}}</h2>
                                </a>
                            </div>
    					{{#if allMeta.edition_text}}
                        	<div class="edition">
    							<p>{{ allMeta.edition_text}}</p>
    						</div>
    					{{/if}}
    				</div>
                    {{#if allMeta.authors}}
                        <div class='authors'>
                            <p>
                                {{#each allMeta.authors.0.author}}
                                    {{this.contributor_name}}{{#unless @last}},{{/unless}}
                                {{/each}}
                            </p>
                        </div>
                    {{/if}}
                    {{#if allMeta.authors}}
                        <div class="volume">
                            <p><b>{{{allMeta.volume}}}</b></p>
                        </div>
                    {{/if}}
                    {{#if allMeta.s_str_reading_line}}
                        <div class="reading_line">
                            <p>{{{allMeta.s_str_reading_line}}}</p>
                        </div>
                    {{/if}}
                    <div class="description">
    					<p>{{{allMeta.s_str_summary_text}}}</p>
    				</div>
                    <div class="price_container">
                        {{!-- If master record, show options --}}
                        {{#if_first_char_eq allMeta.id 'm' }}
                           {{#if_eq allMeta.s_int_textbook_only 1 }}
                               {{#each allMeta.variants}}
                                    {{!-- <a href="http://books.wwnorton.com/books/webad-detail-editions.aspx?id={{allMeta.content_id}}"> --}}
                                    {{#if isbn_formatted}}    
                                        <a href="http://books.wwnorton.com/books/{{isbn_formatted}}">
                                    {{else}}
                                        <a href="http://books.wwnorton.com/books/{{isbn}}">
                                    {{/if}}
                                        <div class="price" onclick="doTrack('click.result', '', 'options.{{product_form}}', '{{{s_str_custom_title}}}.{{isbn}}');">
                                            {{#if allMeta.variants.1.isbn}}
                                                <p><b>{{product_form}}:</b> ${{us_list_price}}</p>
                                            {{else}}
                                                <p><b>{{product_form}}:</b> ${{us_list_price}}</p>
                                            {{/if}}
                                        </div>
                                    </a>
                                {{/each}}
                            {{else}}
                                {{#each allMeta.variants}}
                                    {{!-- <a href="http://books.wwnorton.com/books/detail-formats.aspx?ID={{allMeta.content_id}}"> --}}
                                    {{#if isbn_formatted}}    
                                        <a href="http://books.wwnorton.com/books/{{isbn_formatted}}">
                                    {{else}}
                                        <a href="http://books.wwnorton.com/books/{{isbn}}">
                                    {{/if}}
                                        <div class="price" onclick="doTrack('click.result', '', 'options.{{product_form}}', '{{{s_str_custom_title}}}.{{isbn}}');">
                                            {{#if allMeta.variants.1.isbn}}
                                                <p><b>{{product_form}}:</b> ${{us_list_price}}</p>
                                            {{else}}
                                                <p><b>{{product_form}}:</b> ${{us_list_price}}</p>
                                            {{/if}}
                                        </div>
                                    </a>
                                {{/each}}
                            {{/if_eq}}
{{!--                             <a href="http://books.wwnorton.com/books/webad-detail-editions.aspx?id={{allMeta.content_id}}">
                                <div class="price">
                                    {{#each allMeta.variants}}
                                        <p>Format: {{product_form}} -- Price: {{us_list_price}}</p><br>
                                    {{/each}}
                                    {{#if allMeta.variants.1.isbn}}
                                        <p>Options starting at ${{allMeta.lowest_price}}</p>
                                    {{else}}
                                        <p>1 option for ${{allMeta.lowest_price}}</p>
                                    {{/if}}
                                </div>
                            </a> --}}
                        {{else}}
                        {{!-- If variant record, show detail page for textbook, and format for non-textbook --}}
                            {{#if_eq allMeta.s_int_textbook_only 1 }}
                                {{#each allMeta.variants}}
                                    {{!-- <a href="http://books.wwnorton.com/books/webad.aspx?id={{allMeta.content_id}}"> --}}
                                    {{#if isbn_formatted}}    
                                        <a href="http://books.wwnorton.com/books/{{isbn_formatted}}">
                                    {{else}}
                                        <a href="http://books.wwnorton.com/books/{{isbn}}">
                                    {{/if}}
                                        <div class="price" onclick="doTrack('click.result', '', 'options.{{product_form}}', '{{{s_str_custom_title}}}.{{isbn}}');">
                                            {{#if allMeta.variants.1.isbn}}
                                                <p><b>{{product_form}}:</b> ${{us_list_price}}</p>
                                            {{else}}
                                                <p><b>{{product_form}}:</b> ${{us_list_price}}</p>
                                            {{/if}}
                                        </div>
                                    </a>
                                {{/each}}
                            {{else}}
                                {{#each allMeta.variants}}
                                    {{!-- <a href="http://books.wwnorton.com/books/detail-formats.aspx?ID={{allMeta.content_id}}"> --}}
                                    {{#if isbn_formatted}}    
                                        <a href="http://books.wwnorton.com/books/{{isbn_formatted}}">
                                    {{else}}
                                        <a href="http://books.wwnorton.com/books/{{isbn}}">
                                    {{/if}}
                                        <div class="price" onclick="doTrack('click.result', '', 'options.{{product_form}}', '{{{s_str_custom_title}}}.{{isbn}}');">
                                            {{#if allMeta.variants.1.isbn}}
                                                <p><b>{{product_form}}:</b> ${{us_list_price}}</p>
                                            {{else}}
                                                <p><b>{{product_form}}:</b> ${{us_list_price}}</p>
                                            {{/if}}
                                        </div>
                                    </a>
                                {{/each}}
                            {{/if_eq}}
{{!--                             <a href="http://books.wwnorton.com/books/detail-formats.aspx?ID={{allMeta.content_id}}">
                                <div class="price">
                                    {{#each allMeta.variants}}
                                        <p>Format: {{product_form}} -- Price: {{us_list_price}}</p><br>
                                    {{/each}}
                                    {{#if allMeta.variants.1.isbn}}
                                        <p>Options starting at ${{allMeta.lowest_price}}</p>
                                    {{else}}
                                        <p>1 option for ${{allMeta.lowest_price}}</p>
                                    {{/if}}
                                </div>
                            </a> --}}
                        {{/if_first_char_eq}}
                    </div>
    			</div>
    		</div>
    	{{/each}}
    {{else}}
        <div class="no_results">
            <p class="no_results_header">No results for "{{{content.query}}}"</p>
            {{#if_length_more_1 content.didYouMean}}
                <p class="suggestion">Did you mean:</p>
                {{#each content.didYouMean}} <a class="did_you_mean" href="/books/search-result.aspx?searchtext={{this}}">{{this}}</a> &nbsp;{{/each}}
            {{else}}
                {{#if content.didYouMean}}
                    <p class="suggestion">Did you mean to search for {{#each content.didYouMean}} <a class="did_you_mean" href="/books/search-result.aspx?searchtext={{this}}">{{this}}?</a> {{/each}}</p>
                {{/if}}
            {{/if_length_more_1}} 
        </div>
    {{/if}}
</div>
<div class="footer_show_more">
    {{#if totalCount}}
        <div class="show_more" onclick="doTrack('click.button', '', 'load_more_bottom', 'pagination');">SHOW MORE</div>
    {{else}}
        {{#if content.records.length}}
            <div class="show_more_disabled" onclick="doTrack('click.button', '', 'load_more_bottom_disabled', 'pagination');">SHOW MORE</div>
        {{else}}
            {{!-- Show nothing --}}
        {{/if}}
    {{/if}}
</div>

