{{#each content}}
<div class="result">
	<div class="image">
		<img src="{{imgsrc}}">
	</div>
	<div class="description">
		<h2>{{title}}</h2>
		<p>By: {{author}}</p>
		<p>{{publishDate}}</p>
		<p>Description: "{{{description}}}"
		</p>
	</div>
</div>
{{/each}}