<div class="meta_results">
    <div class="number_results">
        {{#if totalCount}}
            <p>Showing <span class="current_results">{{content.length}}</span> of {{totalCount}} results</p>
        {{else}}
            <p>Showing all <span class="current_results">{{content.length}}</span> results</p>
        {{/if}}
    </div>
    {{#if totalCount}}
        <div class="show_more">SHOW MORE</div>
    {{else}}
        <div class="show_more_disabled">SHOW MORE</div>
    {{/if}}
    <div class="sort_display">
        <select name="sort" class="sort_select">
            <option value="relevance">Relevance</option>
            <option value="lowest">By Lowest Price</option>
            <option value="popularity">Popularity</option>
            <option value="newest">Newest</option>
            <option value="oldest">Oldest</option>
            <option value="author">Author</option>
            <option value="title">Title</option>
        </select>
    </div>
    <div class="breadcrumbs">{{#if breadcrumbs}}{{{breadcrumbs}}}{{/if}}</div>
</div> 
<div class="advertisement_banner"></div>
<div class="results_content">
	{{#each content}}
		<div class="result">
			<div class="image">
				{{#if allMeta.cover_image}}
					<img data-id="{{@index}}" src="{{allMeta.cover_image}}">
				{{else}}
					<div class="no_cover"><p>No Image<br>Available</p></div>
				{{/if}}
			</div>
			<div class="details">
				<div class="top">
					<div class="title">
						<h2 class="title_text">{{{_t}}}{{#if allMeta.sub_title}}: {{{allMeta.sub_title}}}{{/if}}</h2>
					</div>
					{{#if_eq allMeta.edition_text 'n/a'}}
						<div class="edition">
							<p>{{allMeta.edition_text}}</p>
						</div>
					{{/if_eq}}
				</div>
                {{#if allMeta.authors}}
    				<div class='authors'>
    					<p>{{allMeta.authors.0.contributor_name}}</p>
    				</div>
                {{/if}}
				<div class="description">
					<p>{{{allMeta.summary_text}}}</p>
				</div>
				<div class="price">
					{{#if allMeta.us_list_price}}
						<p>{{allMeta.variants.length}} option for ${{allMeta.us_list_price}}</p>
					{{else}}
						<p># options starting from ${{allMeta.us_list_price}}</p>
					{{/if}}
				</div>
			</div>
		</div>
	{{/each}}
</div>
